<{{tag}} {{#if id}}id="{{id}}" {{/if}} class="<%= classname %>{{#if modifiers}} {{modifiers}}{{/if}}{{#if xclasses}} {{xclasses}}{{/if}}" <% if (scss || js) { %> data-jsinit="<%= filename %>"<% } %>{{#if jsInstanceId}} data-module-id="{{jsInstanceId}}"{{/if}}{{#if xclasses}} {{{xattributes}}}{{/if}}>
  <div class="<%= classname %>-ct">
  </div>
</{{tag}}>
